<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Command</directory>
            <directory>src/Config</directory>
            <directory>src/Migrations</directory>
        </exclude>
    </source>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_DRIVER" value="pdo_sqlite"/>
        <env name="DB_NAME" value=":memory:"/>
        <env name="LICENSE_SALT" value="test_salt"/>
        <env name="BASE_URL_ASAAS" value="https://sandbox.asaas.com/api/v3"/>
        <env name="ASAAS_PAYMENT_LINK" value="https://cobranca.asaas.com/c/"/>
        <env name="ASAAS_ACCESS_TOKEN" value="test_token"/>
        <env name="NAME_APP" value="TestApp"/>
        <env name="MAIL_SMTP_HOST" value="localhost"/>
        <env name="MAIL_USER" value="test@example.com"/>
        <env name="MAIL_PASS" value="password"/>
        <env name="MAIL_SMTP_PORT" value="587"/>
    </php>
</phpunit>
